
@tailwind base;
@tailwind components;
@tailwind utilities;
/* style.css */

.header-bg {
    
    background-color:transparent;
    background-size: cover; /* Cubre todo el espacio disponible */
    background-position: center; /* Centra la imagen */
    
}
.header-scrolled {
    background-color: rgba(0, 0, 0, 0.95); /* Color de fondo oscuro cuando se hace scroll */
    transition: background-color 1.2s; /* Transición suave del cambio de color */
}
.ad-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000; /* Asegúrate de que esté por encima de todo lo demás */
}

.ad-image {
    max-width: 90%;
    max-height: 80%;
}

button {
    margin-top: 20px;
}
.video-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Cambia la opacidad según lo oscuro que quieras que sea */
    z-index: 1; /* El z-index debe ser menor que el del contenido que quieres que sea visible encima del video */
}


.logo_1 {
    border-bottom: 1px solid #FFFFFF; /* Ajusta el color y el grosor de la línea como prefieras */
    display: inline-block; /* O cualquier otro display que esté usando tu logo */
    padding-bottom: 30px; 
    position: absolute;
    top: 50px;
    width: 50px;
}

@layer {
    body {
        @apply text-black bg-red-50 tracking-wider font-playfair-display font-bold;
    }
}
/* Añade esta regla para la clase 'hidden' */
.hidden {
    display: none;
}


/* Añadir la fuente Josefin Sans */
body {
    font-family: 'Josefin Sans', sans-serif;
    text-black bg-red-50 tracking-wider font-bold;
}
/* CSS */
/* Estilos imagen publicitaria */

.ad-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de todo lo demás */
}

/* Contenedor de la imagen para que el botón se posicione correctamente */
.ad-image-container {
    position: relative;
    display: inline-block;
    width: auto;
    border-radius: 15px;
    top:85px;
}

/* Estilo de la imagen */
.ad-image {
    max-width: 90%;
    max-height: 80%;
    border-radius: 15px;
}

/* Estilo del botón de cerrar */
.close-btn {
    position: absolute;
    top: -18px;
    right: 36px;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    z-index: 1001; /* Asegúrate de que esté por encima de la imagen */
}
/* Estilos para pantallas con ancho mayor o igual a 768px (tablets, laptops, desktops) */
@media (min-width: 900px) {
    
    #top_menu {
        display: flex !important;
        margin-right: 1.25rem !important; /* Ajusta según sea necesario */
    }
    #nav-menu {        
        display: none !important;        
    }
    #hamburger {
        display: none; /* Ocultamos el menú hamburguesa */                       
    }
}

/* Cambia el color de los íconos a blanco */
.ri-moon-line,
.ri-menu-2-line {
    color: #CCC; /* O usa un gris claro como #CCC */
}

/* Si deseas que los íconos cambien de color al pasar el mouse (hover), puedes añadir */
.ri-moon-line:hover,
.ri-menu-2-line:hover {
    color: #CCC; /* Color gris claro para el hover */
}

#nav-menu {        
    transform: scale(0);
    transform-origin: top right;
    width:230px;
    border-top: 10px solid black; /* Añade una línea negra en la parte superior */
    overflow: visible;
        
    max-height: 80vh; /* Para asegurar que no se salga de la pantalla */
    padding-top: 120px; 
    background-color: rgba(0, 0, 0, 0.98);
    border: 2px solid black; /* Agrega un borde negro de 2px */
    border-radius: 10px; /* Agrega bordes redondeados de 10px */
    display: none;
    justify-content: space-between; /* Asegura que el contenido esté distribuido adecuadamente */
    z-index: 200; /* Asegúrate de que sea mayor que otros elementos */
    transition: transform 0.5s ease-in-out; /* Suaviza la transición */
} 
/* Al abrir el menú, ajustamos 'right' a 0 */
#nav-menu.active {
    transform: scale(1);
    
}
/* Cambia el color del texto de los enlaces a blanco */
.nav_link {
    display: inline-block; /* Hace que el enlace llene el ancho del contenedor para un mejor efecto de hover */
    
    padding: 1px 10; /* Añade algo de relleno para hacer cada opción más grande */
    color: white; /* Establece el color del texto */    
    transition: border-bottom 0.3s;
    font-family: 'Josefin Sans', sans-serif; /* Aplicar la fuente */
    font-size: 1rem; /* Tamaño de fuente ajustado */
    text-transform: uppercase;
    letter-spacing: 0em;
    font-weight: 300; /* Grosor de la fuente */
    
}
.nav_link::first-letter {
    font-size: 1.4rem; /* Tamaño de la primera letra */
    font-weight: 100; /* Grosor de la primera letra */
}
/* Cambia el color del texto al pasar el mouse sobre los enlaces a gris claro, si así lo deseas */
.nav_link:hover {
    border-bottom: 2px solid white;
    color: #ccc; /* Color gris claro para el hover */
}

/* Si quieres que el ícono de cierre también sea blanco o gris al pasar el mouse */
#nav-close .ri-close-line,
#nav-close .ri-close-line:hover {
    color: white; /* Color blanco para el ícono de cierre */
    /* Añade :hover si deseas un color diferente al pasar el mouse */
}

.horario-texto {
    margin-top:39px;
    padding:10px;
    color: white;
    letter-spacing: 0em;
    font-weight: 80; /* Grosor de la fuente */
    font-size:0.75rem;
}

/* Estilos del video */

.video-container {
    position: fixed; /* Posición fija para que el video de fondo */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Asegura que el video se muestre detrás del contenido */
}

#myVideo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
main {
    padding-top: 290px; /* Ajusta este valor según la altura real de tu header */
    
}
//Estilo para mover a la derercha SEDES

/* Estilo para el menú desplegable */
.dropdown-menu {
    display: none;
    position: relative; /* Cambiado a relative para que aparezca justo debajo del enlace */
    top: -1px; /* Ajuste según sea necesario */
    left: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Mismo color de fondo que el nav */
    color: black;
    z-index: 1;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px; /* Agrega bordes redondeados */
    padding: 0; /* Espacio alrededor de las opciones */
}

/* Mostrar el menú desplegable cuando no tenga la clase hidden */
.dropdown-menu:not(.hidden) {
    display: block;
}

/* Estilo para los elementos del menú desplegable */
.dropdown-menu li {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Línea debajo de cada opción */
}

.dropdown-menu li a {    
    height:40px;
    padding: 12px ;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; /* Color del texto */
    background-color: transparent;
    transition: background-color 0.3s ease; /* Suave transición para el fondo */
    letter-spacing: 0em;
    font-size:0.75rem;
    font-weight: 80; /* Grosor de la fuente */
}
.dropdown-menu li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.3); /* Línea encima del primer cuadro */
}


/* Estilo para los enlaces al pasar el ratón */
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    background-color: rgba(50, 50, 50, 0.8); /* Fondo gris oscuro al pasar el ratón */
}

/* Estilo para el icono de la flecha */
.dropdown-toggle i {
    margin-left: 8px;
}

/* Estilo para las imágenes */
.dropdown-menu li a img {
    border-radius: 50%; /* Imagen circular */
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.logo {
    //height: 100px;
    position: absolute;
    top: -350px;
    left: 50%;
    width:100%;
    max-width:800px;
    transform: translateX(-50%);
    margin: 0 auto; /* Centra el logo horizontalmente */
    //z-index: 500;
}
.logo-container-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    //align-items: flex-start; /* Asegura que el logo comience desde la parte superior */
}

/* Estilos para dispositivos móviles */
@media (max-width: 1600px) {
    
    .header-scrolled {
        background-color: rgba(0, 0, 0, 0.95); /* Color de fondo oscuro cuando se hace scroll */
        transition: background-color 1.2s; /* Transición suave del cambio de color */
    }
    .icono {
        margin-top:25px;
        width: 25px;  /* Ajusta este valor según tus necesidades */
        height: auto;
        
    }
    
    
    .nav_link {
        display: block; /* Asegúrate de que cada enlace sea un bloque para permitir el subrayado en toda la anchura */
        color: white; /* Color inicial del texto */
        transition: color 0.3s; /* Suaviza la transición del color */
        position: relative; /* Posición relativa para el pseudo-elemento after */
    }

    .nav_link::after {
        content: '';
        display: block; /* Asegúrate de que el pseudo-elemento sea un bloque */
        height: 0.1px; /* Altura de la línea de subrayado */
        width: 0; /* Inicia sin ancho */
        background: white; /* Color de la línea de subrayado */
        transition: width 0.3s; /* Suaviza la transición del ancho */
        position: absolute; /* Posicionamiento absoluto respecto al enlace */
        bottom: 0; /* Posición al final del enlace */
        left: 0; /* Alinea a la izquierda */
    }

    .nav_link:hover::after {
        width: 100%; /* El ancho total del enlace al pasar el cursor */
    }

    .nav_link:hover {
        color: #ccc; /* Cambia el color del texto al pasar el cursor, si lo deseas */
    }
    
    .container_1 {
        min-height: 90px;
        padding-left: 1rem; /* Ajusta este valor como sea necesario */
        padding-right: 1rem; /* Ajusta este valor como sea necesario */
        gap: 20px;
        margin-bottom: 1rem; /* Espacio reducido en móviles */
    }
    
    .section {
        margin: 1rem; /* Margen para el contenido dentro del área principal */
    }
    #Menu {
        scroll-margin-top: 80px; /* Ajusta esto al tamaño de tu menú fijo o encabezado */
    }
    #category {
        padding-left: 0.5%;
    }
    
    
    
}

/* Estilos de las categorias, incluido el tamños de el contenedor de mis articulos */
#category {
    margin-top: 110px;
    padding:1.25rem; /* Ajusta esto según tus necesidades */
    margin-bottom: 32px;
    padding-left: 0.8%;
    border-color:transparent;
    border-width: 12px; /*Ajusta esto según el grosor deseado del borde */
    border-image-slice: 160; /* Ajusta este valor según la imagen */
    border-image-repeat: repeat; /* Prueba con diferentes valores */    
}
.container_1 {      
    margin-top:1.5rem; 
    
    position:relativa;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;    
    width:calc(100% - -11px);
    display: flex;
    align-items: center; /* Centra las tarjetas verticalmente */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    gap: 10px;
    justify-content: flex-start; /* Alinear tarjetas al inicio del contenedor */

}
/* Estiliza la barra de desplazamiento en su totalidad */
.container_1::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    height: 12px; /* Altura de la barra de desplazamiento para desplazamiento horizontal */
}

/* Estiliza la pista de la barra de desplazamiento */
.container_1::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color de fondo de la pista */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.container_1::-webkit-scrollbar-thumb {
    background: darkgray; /* Color de fondo del pulgar */
    border-radius: 10px; /* Bordes redondeados */
    border: 3px solid transparent; /* Crea bordes transparentes para el pulgar */
    background-clip: content-box; /* Asegura que el color de fondo solo se aplique dentro de los bordes */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el ratón por encima */
.container_1::-webkit-scrollbar-thumb:hover {
    background: gray; /* Color de fondo del pulgar al pasar el ratón por encima */
}

.text-above-cards {
    margin-top: -100px;
    position: relative; /* o 'absolute' dependiendo de tu diseño específico */
    z-index: 10; /* Asegúrate de que tenga un z-index mayor que tus tarjetas para que se muestre encima */
    color: #333; /* El color del texto */
    background: transparent; /* El fondo, si lo necesitas */
    
    margin-bottom: 10px; /* Espacio entre el texto y las tarjetas */
}
.text-above-cards h2 {
    border-bottom: 2px solid #333; /* Ajusta el color y el grosor a tu gusto */
    display: inline-block; /* Esto asegura que la línea solo ocupe el ancho del texto */
    padding-bottom: 5px; /* Ajusta para espacio entre el texto y la línea */
    font-family: 'Josefin Sans', sans-serif; /* Aplicar la fuente */
    font-size: 1.5rem; /* Ajustar tamaño */
    letter-spacing: -0.08em;
    font-weight: 400; /* Ajustar grosor */
}
.text-above-cards h2::first-letter {
    font-size: 2rem; /* Ajustar tamaño de la primera letra */
    font-weight: 100; /* Ajustar grosor de la primera letra */
}
.first-letter-1 {
    font-size: 2rem; /* Ajustar tamaño de la primera letra */
    font-weight: 100; /* Ajustar grosor de la primera letra */
}
.lower-text{
    margin-top: 10px; /* Ajustar espacio superior para bajar el texto */
    letter-spacing: 0.1em; /* Ajustar espaciado de letras */
    font-size: 1rem; /* Ajustar tamaño de fuente si es necesario */
}

/* Estilo para la tarjeta */
.swiper {
    width: 100%;
    height: 100%;
}
.card {
    position:relative;
    display: flex;
    cursor: pointer;
    background-color: #3490dc; /* Azul */
    border-radius: 0.5rem; /* Bordes redondeados */
    overflow: hidden; /* Oculta el contenido que se desborde */
    width: calc(33vw - 22px);
    height: 90px; /* Altura fija para la tarjeta */  
    flex: 0 0 auto; /* No se ajusta al tamaño del contenedor */  
    flex-shrink: 0;
    margin-top: 1rem;
    scroll-snap-align: start;
    
}

/* Estilo para la imagen */
.card img {
    width: 100%; /* Ocupa todo el ancho de la tarjeta */
    height: 100%; /* Ocupa la mitad de la altura de la tarjeta */
    object-fit: cover; /* Ajusta la imagen para cubrir el espacio sin deformarse */
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%; /* Ajusta esto según la cantidad de difuminado que desees */
    background: rgba(0, 0, 0, 0.5);  /* Difuminado negro */
    z-index: 2;
}
.content {
    top: 55px;
    position: absolute;
    font-family: 'Josefin Sans', sans-serif; /* Aplicar la fuente */
    left:50%;        
    font-size: .8rem; /* Tamaño de fuente ajustado */
    font-weight: 100;
    letter-spacing: 0em;
    /* Resto de tus estilos */
}
.content::first-letter {
    font-size: 1.4rem; /* Tamaño de la primera letra */
    font-weight: 100; /* Grosor de la primera letra */
}
/* Estilo para el contenido de texto */
.card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%; /* Ajusta esto según la altura del overlay */
    z-index: 3;
    color: white; /* Ajusta el color del texto según necesites */
}
.card-container {    
    display: flex;
    gap: 10px; /* Asegúrate de que el gap sea el mismo que el que tenías antes */
    padding: 0 10%; /*   Ajusta el valor del padding según tus necesidades */
}
.main-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.95); /* Semi-transparente */
    border-radius: 20px; /* Bordes redondeados */
    width: calc(100% - 40px); /* Ajustar ancho */
    margin: 20px auto; /* Centrado horizontal */
    padding: 1rem; /* Relleno interior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 10; /* Encima del video de fondo */
    overflow: hidden; /* Ocultar desbordamiento */
    display: flex; /* Usar Flexbox */
    flex-direction: column; /* Apilar en columna */
    margin-bottom:20px;
    height:auto;
    max-height:none;
}

/* Sección de despliegue del menú */
.menu-container {
    display: none; /* Usamos flex para alinear items en fila */
    flex-wrap: wrap; /* Permite que los items pasen a la siguiente línea si no caben */
    justify-content: flex-start; /* Alinea los items al inicio */
    align-items: stretch; /* Estira los items para que tengan la misma altura */
    margin-top:6rem;      

}    
.menu-item {        
    align-items: center;
    background-color: #fff;
    justify-content: space-between; /* Espacio entre el contenido de texto e imagen */
    width: 82%; /* Ancho completo del contenedor padre */
    height: auto; /* Alto automático basado en el contenido */
    border-radius: 10px;
    transform: translateX(102px);  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 19px;
}
.menu-container .section-title {
    width: 100%; /* Asegura que el contenedor del título use todo el ancho disponible */
    text-align: center; /* Centra el texto horizontalmente */
    margin-left: auto; /* Establece los márgenes izquierdo y derecho en 'auto' para centrar el contenedor */
    margin-right: auto;
    margin-top: -45px;
    margin-bottom: 30px; /* Nuevo margen inferior para bajar los ítems del menú */
}
.item-info {
    flex: 1;
}
.item-title {
    margin-top:5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.item-description {
    margin-bottom: 2px;
    color: #4a4a4a;
    margin: 10px 0; /* Margen entre líneas y descripción */
}
.horizontal-lines {
    border-top: 1px solid #000; /* Línea superior */
    border-bottom: 1px solid #000; /* Línea inferior */
    padding: 10px 0; /* Espaciado interior */
}

.item-price {
    font-size: 18px;
    font-weight: bold;
}

.item-image-container {
    top:9px;
    position: relative;
    margin-left: 8px;
}

.item-image {
    display: block;
    max-width: 120px; /* Adjust as necessary */
    height: auto;
    border-radius: 10px;
}
/* Seccion de estilo boton  */
.like-section {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 150px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
}

.like-btn {
    cursor: pointer;
}

.like-btn:hover {
    color: #ff0000; /* Cambia el color cuando se pasa el mouse */
}
.menu-container .section-title {
    width: 100%; /* Asegura que el contenedor del título use todo el ancho disponible */
    text-align: center; /* Centra el texto horizontalmente */
    margin-left: auto; /* Establece los márgenes izquierdo y derecho en 'auto' para centrar el contenedor */
    margin-right: auto;
    margin-top:-75px;
}

.menu-container .section-title h2 {
    font-size: 1.5rem; /* Tamaño de fuente para pantallas pequeñas */
    font-weight: bold; /* Hace que el texto del título sea en negrita */
}

.section-title h2 {
    margin-top:13px;
    border-bottom: 2px solid #000; /* Establece el color y el grosor de la línea */
    display: inline-block; /* Asegura que la línea sea solo tan ancha como el texto */
    padding-bottom: 1px; /* Espacio entre el texto y la línea */
    letter-spacing: 0em;
    margin-bottom: 25px; /* Espacio adicional debajo de la línea si es necesario */
}
.first-letter-2 {
    font-size: 4.3rem; /* Tamaño de la primera letra */
    font-weight: 700; /* Grosor de la primera letra */
    
}
.relative {
    position: relative; /* Asegura que el contenedor padre tenga posición relativa */
    display: flex; /* Utiliza flexbox para alinear contenido */
    align-items: center; /* Centra verticalmente el contenido */
}
.scroll-arrow {
    position: absolute; /* Posiciona las flechas absolutamente dentro del contenedor relativo */
    top: 200px; /* Centra verticalmente en el contenedor */
    transform: translateY(-50%); /* Ajusta para centrar exactamente en el medio */
    z-index: 50; /* Asegura que las flechas estén por encima de otros contenidos */
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.left-arrow {
    left: 15px; /* Ajusta la posición izquierda */
}

.right-arrow {
    right: 15px; /* Ajusta la posición derecha */
}
.play-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    vertical-align: middle; /* Alinea verticalmente el botón con el texto */
    margin-top: -5px; /* Ajusta este valor para subir el botón */
    margin-left: 1px; /* Ajusta el margen izquierdo según sea necesario */
    
}

.play-button .icon {
    width: 28px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 26px;
    display: inline-block; /* Asegura que el ícono se alinee correctamente */
    vertical-align: middle; /* Alinea verticalmente el ícono con el texto */
}
/* Ajusta los estilos según tus necesidades */

/* Media queries para ajustar el tamaño del título en pantallas más grandes */
@media (min-width: 640px) { /* sm: 640px */
    .menu-container .section-title {
        margin-top:10px; /* Ajusta para pantallas medianas si es necesario */
    }
    .menu-container .section-title h2 {
    font-size: 2rem;
    }
    .section-title h2 {
        font-size: 2rem; /* Tamaño general del texto en pantallas medianas y grandes */
    }

    .first-letter {
        font-size: 2.5rem; /* Tamaño de la primera letra en pantallas medianas y grandes */
    }
    
}
    
@media (min-width: 768px) { /* md: 768px */
    
    .menu-container .section-title {
        margin-top: 10px; /* Ajusta para pantallas medianas si es necesario */
    }
        .menu-container .section-title h2 {
        font-size: 2.5rem;
    } 
    

    
}
    
@media (min-width: 1024px) { /* lg: 1024px */
    .menu-container .section-title {
        margin-top: -55px; /* Mantiene el título cerca de las tarjetas para pantallas grandes */
    }
    .menu-container .section-title h2 {
    font-size: 3rem;
    }  
}

    
@media (min-width: 1280px) { /* xl: 1280px */
    /* Seccion de estilo boton  */
    .like-section {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 150px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px;
        border-radius: 5px;
    }

    .like-btn {
        cursor: pointer;
    }

    .like-btn:hover {
        color: #ff0000; /* Cambia el color cuando se pasa el mouse */
    }
    .menu-container .section-title h2 {
    font-size: 3.5rem;
    }
    .menu-container {
        display: none; /* Usamos flex para alinear items en fila */
        flex-wrap: wrap; /* Permite que los items pasen a la siguiente línea si no caben */
        justify-content: flex-start; /* Alinea los items al inicio */
        align-items: stretch; /* Estira los items para que tengan la misma altura */
        margin-top:6rem;        
        transform: translateX(110px);    
    }    
    .menu-item {        
        margin:10px;        
        align-items: center;
        background-color: #fff;
        justify-content: space-between; /* Espacio entre el contenido de texto e imagen */
        width: 82%; /* Ancho completo del contenedor padre */
        height: auto; /* Alto automático basado en el contenido */
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 16px;
    }
    .menu-container .section-title {
        width: 100%; /* Asegura que el contenedor del título use todo el ancho disponible */
        text-align: center; /* Centra el texto horizontalmente */
        margin-left: auto; /* Establece los márgenes izquierdo y derecho en 'auto' para centrar el contenedor */
        margin-right: auto;
        margin-top: -65px;
        margin-bottom: 55px; /* Nuevo margen inferior para bajar los ítems del menú */
    }
}
@media (min-width: 430px) {  
    
    .scroll-arrow {
        position: relative;
        top:205px ;
        transform: translateY(-50%);
        cursor: pointer;
        
        background-color: transparent;
        padding: 10px;
        border-radius: 50%;
    }
    
    .left-arrow {
        left: -3px;
    }
    
    .right-arrow {
        right: -1px;
    }
    .menu-container {
        
        display: none; /* Usamos flex para alinear items en fila */
        flex-wrap: wrap; /* Permite que los items pasen a la siguiente línea si no caben */
        justify-content: flex-start; /* Alinea los items al inicio */
        align-items: stretch; /* Estira los items para que tengan la misma altura */
        margin-top:6rem;        
        transform: translateX(-1px);    
    }    
    .menu-item { 
        margin-top:18px;
        align-items: center;
        background-color: #fff;
        justify-content: space-between; /* Espacio entre el contenido de texto e imagen */
        width: 82%; /* Ancho completo del contenedor padre */
        height: auto; /* Alto automático basado en el contenido */
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 16px;
    }
    
}

@media screen and (max-width: 584px) {
    .logo{
        
    height: 500px;
    position: absolute;
    top: -380px;
    left: 50%;
    width:100%;
    max-width:800px;
    transform: translateX(-50%);
    margin: 0 auto; /* Centra el logo horizontalmente */
    //z-index: 500;
    }
    .logo-container-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        //align-items: flex-start; /* Asegura que el logo comience desde la parte superior */
    }
}
.swiper-container {
    display: none; /* Oculta el carrusel por defecto */
    width: 80%;
    max-width: 600px;
    margin: 20px auto; /* Ajusta el margen para separarlo de los bordes */
    position: relative;
    z-index: 400;
}

.swiper-slide img {
    width: 100%;
    border-radius: 10px; /* Añade bordes redondeados si lo deseas */
}
@media (max-width: 768px) {
    .social-icons {        
        display: flex;
        justify-content: center; /* Centra los íconos */
        gap: 10px; /* Espacio entre íconos */
    }
    /* Seccion de estilo boton  */
    .like-section {
        display: flex;
        align-items: center;
        position: absolute;
        top:0px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px;
        border-radius: 5px;
    }

    .like-btn {
        cursor: pointer;
    }

    .like-btn:hover {
        color: #ff0000; /* Cambia el color cuando se pasa el mouse */
    }
    /* Estilo del botón de cerrar */
    .close-btn {
        position: absolute;
        top: -18px;
        right: -5px;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
        line-height: 18px;
        z-index: 1001; /* Asegúrate de que esté por encima de la imagen */
    }
    .ad-image {
        max-width: 100%;
        max-height: 80%;
        border-radius: 15px;
    }
    .menu-container {
        display:none;
        flex-direction: column;
        align-items: center; /* Centrar los items horizontalmente */
        width: 105%; /* Ajustar al ancho de la pantalla */
        
    }
    
    .menu-item {
        box-sizing: border-box; /* Asegurar que padding y border estén incluidos en el ancho total */
        width: 100%; /* Para que ocupe el ancho total del contenedor */
        max-width: 500px; /* Un máximo de 300px de ancho */
        margin: 0.5rem auto; /* Margen superior e inferior y centrado horizontal */
        padding: 1rem; /* Espacio interno */
        transform: translateX(1px);
        
    }
    
    .item-title, .item-description, .item-price {
        font-size: 0.875rem; /* Reduce el tamaño del texto */
    }
    
    .item-image-container {
        width: 100px; /* Reducir el tamaño del contenedor de la imagen si es necesario */
        height: auto; /* Ajustar la altura automáticamente */
        right:-5px;
    }
    
    .item-image {
        max-width: 97%; /* Para que la imagen sea responsive y no exceda el tamaño de su contenedor */
        height: auto; /* Ajustar la altura automáticamente */
        object-fit: cover; /* Asegurar que la imagen cubra el área sin perder su aspecto */
        
    }
    
    .add-button {
        width: 30px; /* Ajustar el tamaño del botón si es necesario */
        height: 30px; /* Ajustar el tamaño del botón si es necesario */
        font-size: 0.75rem; /* Ajustar el tamaño del texto del botón si es necesario */
    }
    .menu-container .section-title {
        width: 100%; /* Asegura que el contenedor del título use todo el ancho disponible */
        text-align: center; /* Centra el texto horizontalmente */
        margin-left: auto; /* Establece los márgenes izquierdo y derecho en 'auto' para centrar el contenedor */
        margin-right: auto;
        margin-top:-75px;
    }
    
    .menu-container .section-title h2 {
        font-size: 1.5rem; /* Tamaño de fuente para pantallas pequeñas */
        font-weight: bold; /* Hace que el texto del título sea en negrita */
    }
    .section-title h2 {
        margin-top:13px;
        border-bottom: 2px solid #000; /* Establece el color y el grosor de la línea */
        display: inline-block; /* Asegura que la línea sea solo tan ancha como el texto */
        padding-bottom: 1px; /* Espacio entre el texto y la línea */
        letter-spacing: 0em;
        margin-bottom: 25px; /* Espacio adicional debajo de la línea si es necesario */
    }
    .first-letter-2 {
        font-size: 1.9rem; /* Tamaño de la primera letra */
        font-weight: 700; /* Grosor de la primera letra */
        
    }   
    
}
